:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: rgba(0, 0, 0, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-size: 1.2rem;
    min-height: 4000px;
}

/* Hero Section */
.hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/open-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: grayscale();
}

.hero {
    /* background-color: #0a0a0a; */
    min-height: 100vh;
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    font-family: 'Pacifio', cursive;
    text-shadow: 1px 1px var(--shadow);
}

.hero h4 {
    font-size: 1.2rem;
    text-shadow: 1px 1px var(--shadow);
}

.hero p {
    font-size: 1rem;
    text-shadow: 1px 1px var(--shadow);
}

.hero a {
    color: var(--pink);
    background-color: white;
    font-size: 0.9rem;
    margin-top: 2rem;
    box-shadow: 1px 1px var(--shadow);
}

.hero a:hover {
    color: white;
    background-color: var(--pink);
}

/* Navbar Section */



/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 100%;
    }

}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 85%;
    }

}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 75%;
    }

}